<?php $this; /* @var $this \Comm\View */  ?>
<?php $this->_block('title') ?>
<?= _('提示') ?>
<?php $this->_blockEnd() ?>
<?php $this->_block('header') ?>
<?php $this->css('index.css') ?>
<?php $this->_blockEnd() ?>
<?php $this->_block('body') ?>
<div class="container-fluid">
	<header>
		<div class="row inner">
			<div class="col-md-4">
				<h1><?= _('极博客') ?></h1>
			</div>
		</div>
	</header>


	<div class="jumbotron">
		<div class="inner">
            <div class="panel panel-primary">
              <div class="panel-heading"><?= _('提示你') ?></div>
              <div class="panel-body"><?= $exception->getMessage(); ?></div>
            </div>

			<?php if(!\Comm\Misc::isProEnv()) : ?>
            <div class="panel panel-primary panel-info">
              <div class="panel-heading"><?= _('调试信息') ?></div>
              <div class="panel-body"><?php var_dump($exception); ?></div>
            </div>
    		<?php endif; ?>
		</div>
	</div>
</div>
<?php $this->_blockEnd() ?>
<?php $this->_blockLoad('_block/basic') ?>