<?php $this; /* @var $this \Comm\View */  ?>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php $this->_blockConfig('title', _('极博客')) ?></title>
    <?php $this->cssLib('bootstrap')?>
    <?php $this->css('core/basic.css') ?>
    <!--[if lt IE 9]>
      <?php $this->jsLib('html5shiv')?>
      <?php $this->jsLib('respond_js')?>
    <![endif]-->
    <?php $this->_blockConfig('header'); ?>
  </head>
<body>
    <?php $this->_blockConfig('body'); ?>

    <script type="text/javascript">
    $CONFIG = <?= \Comm\Json::encode(array(
        'path' => $this->path(''),
    )); ?>;
    </script>
    <?php $this->jsLib('jquery')?>
    <?php $this->jsLib('bootstrap_js')?>
    <?php $this->js('core/basic.js')?>
    <?php $this->_blockConfig('body_end')?>
  </body>
</html>