<?php $this; /* @var $this \Comm\View */  ?>
<?php $this->_block('body')?>


<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-header-nav" aria-expanded="false">
				<span class="sr-only"><?= _('个人导航') ?></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="<?= $this->path(''); ?>"><?= _('极博客'); ?></a>
		</div>
		<div class="collapse navbar-collapse" id="global-header-nav">
			<ul class="nav navbar-nav">
				<li role="presentation" <?php if($nav ==='basic') : ?> class="active" <?php endif; ?>><a href="<?= $this->path('manage/basic') ?>"><?= _('基本设置') ?></a></li>
				<li role="presentation" <?php if($nav ==='category') : ?> class="active" <?php endif; ?>><a href="<?= $this->path('manage/category') ?>"><?= _('分类管理') ?></a></li>
				<li role="presentation" <?php if($nav ==='article') : ?> class="active" <?php endif; ?>><a href="<?= $this->path('manage/article/index') ?>"><?= _('文章管理') ?></a></li>
				<li role="presentation" <?php if($nav ==='theme') : ?> class="active" <?php endif; ?>><a href="<?= $this->path('manage/theme/index') ?>"><?= _('主题管理') ?></a></li>
				<li role="presentation" <?php if($nav ==='publish') : ?> class="active" <?php endif; ?>><a href="<?= $this->path('manage/publish/index') ?>"><?= _('发布管理') ?></a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a target="_blank" href="<?= $this->path('user/github/gopage') ?>"><?= _('我的博客') ?></a></li>
						<li><a target="_blank" href="#"><?= _('评论管理') ?></a></li>
						<li role="separator" class="divider"></li>
						<li><a href="<?= $this->path('user/logout') ?>"><?= _('退出') ?></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container container-body"><?php $this->_blockConfig('content') ?></div>
<?php $this->_blockEnd(); ?>
<?php $this->_blockLoad('_block/basic') ?>